.mainpage__header {
  color: white;
}

.mainpage__header__navGroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.mainpage__header__logo {
  display: block;
  background-image: url("../../assets/images/logo.svg");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  color: transparent;
}

.MuiSvgIcon-root {
  color: white;
}
